header, footer{
    padding:  20px;
    background-color: #33c3f0;
}
header{
    text-align: center;
    font-size: large;
    margin-bottom: 20px;
}
footer{
    text-align: right;
    margin-top: 20px;
}
body{
    background-color: #EAEAEA;
}
.container{
    font-family: Arial, Helvetica, sans-serif;
}
.sin_movs{
    margin: 2cm;
    padding: 2cm;
}
.error-msg{
    color: red;
    font-size: 0.8em;
    text-align: left;
    margin-top: -15px;
}
.error{
    border-color: red;
    border-width: 1px;
}
input.error{
    border-color: red !important;
    border-width: 1px;
}
.boton{
    background-color: rgb(221, 220, 220) !important;
}


.popup{
    position: fixed;
    top: 100;
    bottom: 100;
    right: 100;
    left: 100;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s;
    visibility: hidden;
    background-color: grey;
    width: 500px;
    height: 200px;
}
.popup.popuptext{
    width: 500px;
    height: 500px;
    background-color:#555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    bottom: 25%;
    left: 50%;
    margin-left: -80px;
}
#popup:target{
    opacity: 1;
    visibility: visible;
}

#cerrar-popup{
    display: none;
    position: absolute;
    color: #fff;
    cursor:pointer;
    transition: 1s;
}