{% extends 'base.html' %}

{% block titulo %} Compra de Criptos {% endblock %}

{% block contenido %}
    <h3 style="margin: 30px;">Operación de Compra </h3>

    <form  action="/operar" method="post">
        {{form.hidden_tag()}}

        <div class= "row" style="margin: 20px;"  style="width: auto;">
            <div class="six columns">
            {{form.criptoFrom.label}}
                {{form.criptoFrom}}
            </div>
            <div class="six columns">
            {{form.criptoTo.label}}
            {% if form.criptoTo.errors %}
                {{form.criptoTo (class= 'error')}}
                    {% for error in form.criptoTo.errors %}
                        <p class="error-msg">{{ error }}</p>
                    {% endfor %}
            {% else %}
                {{form.criptoTo}}
            {% endif %}
            </div>
        </div>
        <div class= "row" style="margin: 20px;", style="width: auto;">
            <div class="three columns">
            {{form.cantidadFrom.label}}
            {% if form.cantidadFrom.errors %}
                
                {{form.cantidadFrom(class=' error')}}
                {% for error in form.cantidadFrom.errors %}
                    <p class="error-msg">{{ error }}</p>
                {% endfor %}
                
            {% else %}
                {{form.cantidadFrom}}

            {% endif %}
            </div>
            <div class="three columns">
                <label for="Calcular" style="opacity: 0;">A</label>
                {{form.calcular (class="boton")}}
              
            </div>
            <div class="six columns">
                <label for="cantidadTo">Cantidad: </label>
                <input type="text", name="cantidadTo", value="{{cantidadTo}}" readonly placeholder="Autorellenable">
                
            </div>
        </div>
               

        <div class= "row" style="margin: 20px;">

            <div class="six columns">
                <label for="fecha">Fecha/ Hora</label>
                <input type="text", name="fecha", value="{{fecha}}" placeholder="Autorellenable" readonly>           
            </div>
                
            <div class= "six columns", style="margin-bottom: 1cm;">
                <label for="cotiz">Cotización: </label>
                <input type="text", name="cotiz", value="{{cotiz}}" readonly placeholder="Autorellenable">
            </div>

            <div class="row" style="margin-bottom: 50px;", style="margin-top: 1cm;">
                <div class= "eight colums" style="text-align: center;">
                    {{form.cancelar (class="boton")}}
                    {{form.comprar (class= "boton")}}
                    
                    <!--a href="#popup">Comprar</a>
                    <div class="popup" id="popup">Confirmar operación
                        <span class="popuptext" id="popuptext">
                            
                          <p> Va a realizar una operación de compra.<br>
                            Para confirmarla, presione 'Confirmar'<br>
                            Para cancelarla, presione 'Cancelar'</p>

                        <button href="/operar">Confirmar</button>
                        <div class="cerrar">
                        <button href="/">Cancelar</button>
                        </div>
                        </span>
                
                    </div-->
                      
                    
                </div>
            </div>
        </div>   
    
    </form>
    
    <div style="text-align: right;" style="margin: 100px;">
            <a class= 'button button-primary' href="/status">Status</a>
            <a class= 'button button-primary' href="/">Inicio</a>
    </div>

    
    
    
    
{% endblock%}









            <!--div class="six columns">
            {{form.cantidadTo.label}}  
                {{form.cantidadTo ( readonly=true)}}
            </div>
        </div>
        <div class= "row" style="margin: 20px;" style="width: auto;">
            <div class="six columns" >
            {{form.fechaHora.label}}
                {{form.fechaHora (readonly= true)}}
            </div>
            <div class="six columns">
            {{form.cotizacion.label}}
                {{form.cotizacion  (readonly=true) }}
            </div>
        </div>
            <div class= "six columns">
                <label for="criptomonedaFrom">From: </label>
         
                <select name="criptomonedaFrom">
                    <option>   </option>
                    <option>EUR</option>
                    <option>BTC</option>
                    <option>ETH</option>
                    <option>LTC</option>

                </select>
            </div>
            <div class= "six columns">
                <label for="criptomonedaTo">To: </label>
         
                <select name="criptomonedaTo">
                    <option>   </option>
                    <option>EUR</option>
                    <option>BTC</option>
                    <option>ETH</option>
                    <option>LTC</option>
                </select>

            </div>
        </div>

        <div class= "row" style="margin: 20px;">
            <div class= "six columns">
                <label for="cantidadFrom">Cantidad: </label>
        
                <input type="text" name= "cantidadFrom" placeholder="Cantidad">
                <input type="submit" class="boton" value="Calcular">
            </div>
            <div class="six columns">
                <label for="cantidadTo">Cantidad: </label>
                <input type="text" name="cantidadTo" readonly>
            </div>
        </div>

        <div class= "row" style="margin: 20px;">

            <div class="six columns">
                <input type="datetime-local", name="fecha" autocomplete="on" >

            </div>
                
            <div class= "six columns">
                <label for="cotizacion">Cotización: </label>
                <input type="text" name="cotizacion" readonly>
            </div>
        </div-->
       