{% extends 'base.html' %}  

{%block titulo%}
Mi Patrimonio
{% endblock%}

{% block contenido %}

    <h1>Mi Patrimonio</h1>
    <h3>Resumen</h3>
    <table class= 'u-full-width'>
        <tr>
            <th>Criptomoneda</th>
            <th>Volumen</th>
            <th>Valor actual</th>
        </tr>

        {% for operacion, data in ops.items() %}
            {% if operacion != 'EUR' %}
                
                <tr>
                    <td><a href="/detalle?id={{operacion}}"> {{operacion}}</a> </td>
                    <td> {{data.volumen | round(8)}} </td>
                    <td> {{(data.volumen*data.importe) | round(8)}}  €</td>
                </tr>

            {% endif%}
        {% endfor %}
        
       
    </table>
    <div style="text-align: right;">
        <a class= 'button button-primary' href="/operar">Operar</a>
        <a class= 'button button-primary' href="/status">Status</a>
    </div>

    {% endblock %}
 