{% extends 'base.html' %}  #instruccion que dice que region es una extension de base.html

{%block titulo%}
Mi Patrimonio
{% endblock%}

{% block contenido %}

    <h1>Mi Patrimonio</h1>
    <h3>Resumen</h3>
    <table class= 'u-full-width'>
        <tr>
            <th>Criptomonedas</th>
            <th>Volumen</th>
            <th>Importe</th>
        </tr>

        {% for operacion, data in ops.items() %}
        <tr>
            <td><a href="/detalle?id={{operacion}}"> {{operacion}}</a> </td>
            <td> {{data.volumen}} </td>
            <td> {{data.importe}} €</td>
        </tr>
        {% endfor %}
        
       
    </table>
    <div style="text-align: right;">
        <a class= 'button button-primary' href="/operar">Operar</a>
        <a class= 'button button-primary' href="/status">Status</a>
    </div>
    {% endblock %}
 