{% extends 'base.html' %}  #instruccion que dice que region es una extension de base.html

{%block titulo%}
Mi Patrimonio
{% endblock%}

{% block contenido %}

    <h1>Estado de la inversión</h1>
    <h4>Invertido</h4>
    <table class= 'u-full-width'>
        
        <thead>
            <tr>
                <th>Criptomoneda</th>
                <th>Volumen</th>
                <th>Cotización de compra</th>
                <th>Importe de compra</th>
                <th>Cotización actual</th>
                <th>Valor actual</th>
            </tr>
        </thead>

        <tbody>
        
            {% for operacion, data in ops.items() %}
            <tr>
                <td><a href="/detalle?id={{operacion}}"> {{operacion}}</a> </td>
                <td> {{data.volumen}} </td>
                <td> {{data.cotizacion | round(8, 'floor')}} €</td>
                <td> {{data.importe | round(8, 'floor')}} € </td>
                <td> {{data.cot_actual | round(8, 'floor')}} €</td>
                <td> {{data.volumen*data.cot_actual | round(8, 'floor')}} €</td>
            </tr>
            {% endfor %}   
        </tbody>  
        <tfoot>
            <tr>
                <td colspan="3">
                    <b> Total</b> 
                </td>
                <td> {{suma_total| round(8, 'floor')}} €</td>
                <td> </td>
                <td> {{suma_total_act | round(8, 'floor')}} €</td>
            </tr>
            
        </tfoot>  
       
    </table>

        


    



    <div style="text-align: right;">
        <a class= 'button button-primary' href="/operar">Operar</a>
        <a class= 'button button-primary' href="/">Inicio</a>
    </div>
    {% endblock %}