{% extends 'base.html' %}  #instruccion que dice que region es una extension de base.html

{%block titulo%}
Mi Patrimonio
{% endblock%}

{% block contenido %}

    <h1>Estado de la inversión</h1>
    <h4>Invertido</h4>
    <table class= 'u-full-width'>
        <tr>
            <th>Criptomoneda</th>
            <th>Volumen</th>
            <th>Cotización de compra</th>
            <th>Importe de compra</th>
            <th>Cotización actual</th>
            <th>Valor actual</th>
        </tr>

        
        {% for operacion, data in ops.items() %}
        <tr>
            <td><a href="/detalle?id={{operacion}}"> {{operacion}}</a> </td>
            <td> {{data.volumen}} </td>
            <td> {{data.cotizacion}} €</td>
            <td> {{data.volumen* data.cotizacion}} € </td>
            <td>**Enlace</td>
            <td> data.volumen*cotizacion €</td>
        </tr>
        {% endfor %}       
       
    </table>

    <table>
        <th>Total</th>
        


    </table>



    <div style="text-align: right;">
        <a class= 'button button-primary' href="/operar">Operar</a>
        <a class= 'button button-primary' href="/">Inicio</a>
    </div>
    {% endblock %}